VITE_API_BASE_URL=http://localhost:8081
VITE_MAPBOX_TOKEN=changeme
AISSTREAM_API_KEY=changeme
NXTPORT_SUBSCRIPTION_KEY=changeme
NXTPORT_CLIENT_ID=changeme
NXTPORT_CLIENT_SECRET=changeme
NXTPORT_SCOPE=openid
