AISSTREAM_API_KEY=changeme
DUCKDB_PATH=db/spvx.duckdb
RUN_MODE=production
NXTPORT_SUBSCRIPTION_KEY=changeme
NXTPORT_CLIENT_ID=changeme
NXTPORT_CLIENT_SECRET=changeme
NXTPORT_USERNAME=changeme@example.com
NXTPORT_PASSWORD=changeme
NXTPORT_GRANT_TYPE=password
NXTPORT_SCOPE=openid
OPENWEATHER_API_KEY=changeme
CMEMS_USERNAME=changeme
CMEMS_PASSWORD=changeme
